
<div class="jumbotron">
  <h1 class="display-3">Home Page</h1>
</div>

<div class="container">
<a href="/"><button type="button" class="btn btn-primary btn-lg">Home</button></a>

<a href="/all"><button type="button" class="btn btn-secondary btn-lg">All</button></a>

<a href="/scrape"><button type="button" class="btn btn-success btn-lg">Scrape</button></a>
</div>